body{
    background-color: rgb(237, 237, 237);
}
.slick-slide > div {
    margin: 0 25px;
}
.slick-dots li.slick-active i {
    color: #b5d6ff;
}
.slick-dots li{
    width: 10px;
    height: 10px;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.answer.visible {
    max-height: 500px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap&family=Oswald:wght@400&family=Lato:wght@400;700)

